JWT_KEY=change_me_in_env
DB_CONNECTION_STRING=Host=aws-1-eu-central-1.pooler.supabase.com;Port=5432;Database=postgres;User Id=postgres.USER;Password=CHANGE_ME;SSL Mode=Require;Trust Server Certificate=true;Timeout=60;Command Timeout=60;
CORS_ALLOWED_ORIGINS=http://localhost:5173
